<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID: {{ usuario.id }}</ion-card-subtitle> 
      <ion-card-title>
        <ion-input [(ngModel)]="usuario.nombre" placeholder="Nombre"></ion-input>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input [(ngModel)]="usuario.email" placeholder="Email"></ion-input>
      <ion-input [(ngModel)]="usuario.password" type="password" placeholder="Contraseña"></ion-input>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center; margin-top: 30px;">
    <ion-button (click)="actualizarUsuario()" expand="block" fill="clear" shape="round">
      Actualizar usuario
    </ion-button>

    <ion-button [routerLink]="['/eliminar', usuario.id]" expand="block" fill="clear" shape="round" color="danger">
      Eliminar Usuario
    </ion-button>
  </div>
</ion-content>
