<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="center-card">

    <ion-card-content>
      <form [formGroup]="adminForm">
        <ion-item>
          <ion-input formControlName="passwordActual" type="password" placeholder="Contraseña Actual"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="nuevaPassword" type="password" placeholder="Nueva Contraseña"></ion-input>
        </ion-item>

        
      </form>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center; margin-top: 30px;">
    <ion-button (click)="actualizarUsuario()" expand="block" shape="round" [disabled]="adminForm.invalid">
      Actualizar contraseña
    </ion-button>
  </div>
</ion-content>
