<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <div class="profile-header">
    <ion-item>
      <ion-label></ion-label>
      <img [src]="administrador?.img" alt="Imagen de perfil" style="max-width: 100px; max-height: 100px; border-radius: 50%;" />
    </ion-item>
    <h2 class="profile-name">{{ administrador?.nombre }}</h2>
    <p class="profile-username">{{ administrador?.email }}</p>
  </div>

  <ion-list class="profile-details" *ngIf="administrador">
    <ion-item>
      <!-- Mostrar imagen de perfil -->
      
      <ion-label>Nombre</ion-label>
      <ion-text>{{ administrador?.nombre }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{ administrador?.email }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Rut</ion-label>
      <ion-text>{{ administrador.rut }}</ion-text>
    </ion-item>
  </ion-list>

  <ion-button (click)="redirigirUpdate()" expand="block" fill="clear" shape="round">
    Cambiar Datos
  </ion-button>
</ion-content>
