<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header-title">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <div class="profile-header">
    <ion-avatar class="profile-avatar">
      <img src="assets/images/default-profile.png" alt="Foto de Perfil">
    </ion-avatar>
    <h2 class="profile-name">{{ usuario?.nombre }}</h2>
    <p class="profile-username">{{ usuario?.email }}</p>
  </div>

  <ion-list class="profile-details" *ngIf="usuario">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-text>{{ usuario.nombre }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{ usuario.email }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Rut</ion-label>
      <ion-text>{{ usuario.rut }}</ion-text>
    </ion-item>
  </ion-list>

  <div class="events-section">
    <h3 class="events-title">Eventos Registrados</h3>
    <ion-list>
      <ion-item *ngFor="let evento of eventosRegistrados">
        <ion-label>
          <h2>{{ evento.titulo }}</h2>
          <p>{{ evento.fecha }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
