ion-content {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  ion-title {
    color: white;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  ion-toolbar {
    --background: #000;
  }
  
  ion-button {
    --color: white;
  }
  
  qrcode {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
  }
  
  strong {
    color: #146bdd;
  }
  