<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="regresar()">
          Regresar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let e of eventos">
            <ion-label>
                <h3 style="text-align: right;"> Id Evento: {{e.id}}</h3>
                <h2> Nombre: {{e.nombre}}</h2>
                <h3> Descripcion: {{e.descripcion}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    
</ion-content>
