<ion-header>
  <ion-toolbar>
    <ion-title>
      Generar QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="usuario">
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ usuario?.nombre }}</p>
      <p><strong>Email:</strong> {{ usuario?.email }}</p>
      <p><strong>RUT:</strong> {{ usuario.rut }}</p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="!usuario">
    <p>Cargando datos del usuario...</p>
  </div>
</ion-content>
