<ion-app>
  <ion-menu contentId="main" menuId="first" side="end" type="overlay">
    <ion-header>
      <ion-toolbar color="light">
        <ion-icon slot="start" name="radio-outline" size="large" class="menu-icon"></ion-icon>
        <ion-title class="menu-title">InsKrip App</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
      <ion-menu-toggle *ngFor="let m of menu">
        <ion-item [routerLink]="m.redirecTo" detail="true" class="menu-item">
          <ion-icon slot="start" [name]="m.icon" class="menu-item-icon"></ion-icon>
          <ion-label class="menu-item-label">{{ m.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>

    <ion-footer class="menu-footer">
      <ion-item button (click)="exitSess()">
        <ion-icon slot="start" name="log-out-outline" class="footer-icon"></ion-icon>
        <ion-label class="footer-label">Cerrar sesión</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
