.home-content {
  --background: #FFFFFF; /* Fondo blanco */
  padding: 16px;
  text-align: center;
}

.hero-section {
  background-color: #007BFF; /* Azul eléctrico */
  padding: 40px 20px;
  border-radius: 15px;
  color: #FFFFFF;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero-title {
  font-size: 28px;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 18px;
  margin-top: 10px;
  color: #d1e9ff;
}

.get-started-btn {
  margin-top: 20px;
  --background: #FFFFFF;
  --color: #007BFF;
}

.futuristic-card {
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.futuristic-card-large {
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-icon {
  font-size: 50px;
  color: #FFFFFF;
  margin-top: 20px;
}

.card-icon-large {
  font-size: 60px;
  color: #FFFFFF;
  margin-top: 20px;
}

.ion-card-title {
  font-size: 18px;
  margin-top: 10px;
  color: #FFFFFF;
}
