<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/tabs/tab1" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Eventos</ion-title>
    <ion-button slot="end" (click)="goToAgregar()">+</ion-button>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let evento of eventos">
      <ion-thumbnail slot="start">
        <img *ngIf="isBase64(evento.imagen)" [src]="evento.imagen" alt="{{ evento.nombre }}" />
        <img *ngIf="!isBase64(evento.imagen)" [src]="'assets/img/' + evento.imagen" alt="{{ evento.nombre }}" />
      </ion-thumbnail>
      <ion-label (click)="verDetalle(evento)">
        <h2>{{ evento.nombre }}</h2>
        <p>{{ evento.fecha }} - {{ evento.lugar }}</p>
        <p>{{ evento.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>



