<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Eventos</ion-title>
    <ion-button slot="end" (click)="goToAgregar()">+</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let evento of eventos">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img *ngIf="isBase64(evento.imagen)" [src]="evento.imagen" alt="{{ evento.nombre }}" />
          <img *ngIf="!isBase64(evento.imagen)" [src]="'assets/img/' + evento.imagen" alt="{{ evento.nombre }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ evento.nombre }}</h2>
          <p>{{ evento.fecha }} - {{ evento.lugar }}</p>
        </ion-label>
        <ion-button slot="end" fill="outline" color="primary" (click)="goToEditar(evento.id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="outline" color="danger" (click)="borrarEvento(evento.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-card-content>
        <p>{{ evento.descripcion }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
