<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Evento</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Id</ion-label>
      <ion-input type="text" name="txtId" [(ngModel)]="newIEvent.id" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" name="txtDescripcion" [(ngModel)]="newIEvent.descripcion" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Imagen</ion-label>
      <ion-input type="text" name="txtImagen" [(ngModel)]="newIEvent.imagen" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="crearEvento()" expand="block" fill="clear" shape="round">
          Crear Evento
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
