<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/tabs/tab1" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Evento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
  <form>
    <ion-item lines="full">
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese el nombre" type="text" name="txtId" [(ngModel)]="newIEvent.nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input label="Fecha" labelPlacement="floating" placeholder="Ingrese la fecha" type="text" name="txtId" [(ngModel)]="newIEvent.fecha" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input label="Ubicación" labelPlacement="floating" placeholder="Ingrese la ubicación" type="text" name="txtId" [(ngModel)]="newIEvent.lugar" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input label="Descripción" labelPlacement="floating" placeholder="Ingrese alguna descripción" type="text" name="txtDescripcion" [(ngModel)]="newIEvent.descripcion" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"></ion-label>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none" />
      
      <ion-button (click)="fileInput.click()" expand="full" fill="outline" shape="round">
        Seleccionar Imagen
      </ion-button>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="crearEvento()" expand="block" fill="solid" shape="round">
          Crear Evento
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-card-content>
</ion-content>
