<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Modificar Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID: {{ administrador.id }}</ion-card-subtitle>
      <ion-card-title>
        <ion-input [(ngModel)]="administrador.nombre" placeholder="Nombre"></ion-input>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input [(ngModel)]="administrador.email" placeholder="Email"></ion-input>

      <div style="text-align: center;">
        <ion-label>Imagen</ion-label>
      </div>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none" />
      <ion-button (click)="fileInput.click()" expand="block" fill="outline" shape="round">
        Seleccionar Imagen
      </ion-button>

      <div *ngIf="administrador.img">
        <img [src]="administrador.img" alt="Imagen de perfil" style="max-width: 100px; max-height: 100px; border-radius: 50%;" />
      </div>

      <div style="text-align: center; margin-top: 30px;">
        <ion-button (click)="actualizarUsuario()" expand="block" shape="round">
          Actualizar usuario
        </ion-button>
        <div style="text-align: center; margin-top: 20px;">
          <p>¿Quieres cambiar tu contrasena? <a (click)="navigateToLogin()" color="primary">Pulsa aquí</a></p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
