<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Modificar Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="tipoN" [(ngModel)]="usuario.nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="tipoD" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" name="tipoI" [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>

    <!-- Botón para actualizar -->
  </form>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="actualizar()" expand="block" fill="solid" shape="round">
      Actualizar 
    </ion-button>
  </div>
</ion-content>
