<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Modificar Evento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Id</ion-label>
      <ion-input type="text" name="tipoN" [(ngModel)]="evento.id" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" name="tipoD" [(ngModel)]="evento.descripcion" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Imagen</ion-label>
      <ion-input type="text" name="tipoI" [(ngModel)]="evento.imagen" required></ion-input>
    </ion-item>

    <!-- Botón para actualizar -->
  </form>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="actualizar()" expand="block" fill="solid" shape="round">
      Actualizar Evento
    </ion-button>
  </div>
</ion-content>
