<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/tabs/tab1" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="start" name="create-outline"></ion-icon>
    <ion-title>Editar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-card mode="ios">
  <ion-card-content>
  <form>
    <ion-item lines="full">
      <ion-input label="ID" labelPlacement="floating" placeholder="Ingrese el ID" type="text" name="tipoId" [(ngModel)]="evento.id" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese el nombre" type="text" name="tipoId" [(ngModel)]="evento.nombre" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input label="Fecha" labelPlacement="floating" placeholder="Ingrese la fecha" type="text" name="txtFecha" [(ngModel)]="evento.fecha" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input label="Ubicación" labelPlacement="floating" placeholder="Ingrese la ubicación" type="text" name="txtLugar" [(ngModel)]="evento.lugar" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input label="Descripción" labelPlacement="floating" placeholder="Ingrese alguna descripción" type="text" name="tipoDescripcion" [(ngModel)]="evento.descripcion" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Imagen</ion-label>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none" />
      <ion-button (click)="fileInput.click()" expand="full" fill="outline" shape="round">
        Seleccionar Imagen
      </ion-button>
    </ion-item>
  </form>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="actualizar()"  fill="solid" shape="round" >
      Actualizar Evento
    </ion-button>
  </div>
  
</ion-card-content>
</ion-card>
</ion-content>
