<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Modificar Evento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form>


    <ion-item lines="full">
      <ion-label position="floating">iD</ion-label>
      <ion-input type="text" name="tipoId" [(ngModel)]="evento.id" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="tipoId" [(ngModel)]="evento.nombre" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Fecha</ion-label>
      <ion-input type="text" name="txtFecha" [(ngModel)]="evento.fecha" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Lugar</ion-label>
      <ion-input type="text" name="txtLugar" [(ngModel)]="evento.lugar" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" name="tipoDescripcion" [(ngModel)]="evento.descripcion" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Imagen</ion-label>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none" />
      <ion-button (click)="fileInput.click()" expand="full" fill="outline" shape="round">
        Seleccionar Imagen
      </ion-button>
    </ion-item>
  </form>

  <!-- Botón para actualizar -->
  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="actualizar()" expand="block" fill="solid" shape="round">
      Actualizar Evento
    </ion-button>
  </div>
</ion-content>
